  .vs/
        AuthAPI.csproj
        AuthAPI.csproj.user
        AuthAPI.http
        AuthAPI.sln
        Controllers/
        DTOs/
        Data/
        Migrations/
        Models/
        Program.cs
        Properties/
        Services/
        WeatherForecast.cs
        appsettings.Development.json
        appsettings.json
        bin/
        obj/